@use 'variables' as *;

.about-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	max-width: 50rem;
	width: 100%;
	padding: 10rem 0;
	margin: 0 auto;

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&__title {
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 1.5rem;
		}

		&__message {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			font-size: 1.1rem;
			color: $color-text-secondary;
		}
	}
}
