@use 'variables' as *;

.mission {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
	min-height: 100vh;
	background-color: #fcfcfc;

	&__container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3rem;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&__title {
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 1.5rem;
		}

		&__message {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			font-size: 1.1rem;
			color: $color-text-secondary;
		}
	}

	&__image {
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		gap: 4rem;
		max-width: $container-max-width;
		margin: 0 auto;

		&__card {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
			width: 25rem;
			padding: $spacing-md;
			border: 1px solid $color-border;
			border-radius: 1rem;
			background-color: $color-white;

			&__icon {
				svg {
					padding: 0.7rem;
					width: 3rem;
					height: 3rem;
					color: $color-primary;
					background-color: #005dbd30;
					border-radius: 0.5rem;
					margin-bottom: 1rem;
				}
			}

			&__title {
				font-size: 1.2rem;
				font-weight: 700;
				margin-bottom: 0.4rem;
			}

			&__description {
				color: $color-text-primary;
			}
		}
	}

	@media (min-width: $breakpoint-md) {
		padding: 10rem;
	}
}
